
html {
    background-color: #eeeeee;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    text-align: center;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100%;
}
.blog-section {
  flex: 1;
}


header {
    font-size: 1rem;
}
header p {
    padding: 0 3rem;
}
/* Navbar base */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: rgb(2, 32, 20);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo (your name) */
.navbar .logo {
  font-size: 1.3rem;
  font-weight: bold;
  color: #ffffff;
}

/* Blog button */
.blog-btn {
  background-color: #64a103;
  color: white;
  padding: 0.4rem 0.5rem;
  border-radius: 0.4rem;
  text-decoration: none;
  font-size: 1rem;
  border: 2px solid #64a103;
  transition: all 0.3s ease;
}

.blog-btn:hover {
  background-color: #4c7a01;
  border-color: #4c7a01;
}
header .pfp {
    width: 7rem;
    height: 7rem;
    border: 0.2rem solid #005a32;
    border-radius: 50%;
    background-image: url('./nelsonxbt-pfp.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0% auto;
    
}
.social-icons {
    font-size: 1.7rem;
}

.community {
    margin-top: 3rem;
    font-size: 1rem;
    
}

.table {
    display: flex;
    justify-content: center;
}
button {
    background-color: #005a32;
    color: white;
    font-size: 1.2rem;
    border: 0.2rem solid #005a32;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
}
button:hover {
    background-color: #006d4c;
    border: 0.2rem solid #006d4c;
}
.section {
    background-color: #f1efef;
    border: 0.2rem solid #eeeeee;
    border-radius: 1rem;
    margin-top: 2rem;
    
}

.fa-x-twitter {
 color: black;
}
.fa-x-twitter:hover {
 color: blue;
}

.fa-telegram {
    color: blue;
}
.fa-telegram:hover {
    color: rgb(6, 6, 124);
}

.fa-discord {
    color: blue;
}
.fa-discord:hover {
    color: rgb(62, 62, 68);
}
.fa-youtube {
    color: red;
}
.fa-youtube:hover {
    color: rgb(160, 3, 3);
}

.typewriter {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  overflow: hidden;
  border-right: 2px solid black;
  white-space: nowrap;
  animation: typing 2.5s steps(22, end) forwards,
             blink 0.75s step-end 3.3s 4; /* Stop after ~3s */
  margin: 2rem auto 1rem auto;
}

@keyframes typing {
  from { width: 0 }
  to { width: 20ch }
}

@keyframes blink {
  50% { border-color: transparent }
}

footer {
  background-color: rgb(2, 32, 20) ;
  text-align: center;
  font-size: 0.9rem;
  color: #b4b3b3;
  padding: 1rem 1rem;
  margin-top: 2rem;
  margin-bottom: 0;
}








@media (min-width: 768px) {
    
    header .pfp {
    width: 10rem;
    height: 10rem;
    border: 0.2rem solid #005a32;
    
}
.typewriter {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
}
header p {
    font-size: 1.34rem;
    padding: 0 5rem;
}
.social-icons {
    font-size: 2rem;
}
.navbar {
  background-color: rgb(2, 32, 20);
}
.blog-btn {
  margin: auto;
  padding: 0.4rem 0.5rem;
  font-size: 1rem;
  border: 2px solid #64a103;

}
.navbar .logo {
  margin: auto;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fffefe;
}
footer {
  font-size: 1.05rem;
  
}

}